{% extends 'base.html.twig' %}

{% block title %}Créer une Sortie | {{ parent() }}{% endblock %}

{% block main %}
	<div class="my-custom-class-for-errors">
		{{ form_errors(form) }}
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-center">
					Crée une sortie
				</h3>
			</div>
		</div>

		{{ form_start(form,  { 'attr':{'class': 'row css-selector-to-form'}}) }}
		<div class="col-md-6">
			<div class="form-group">
				{{ form_row(form.nom) }}
			</div>
			<div class="form-group">
				{{ form_row(form.datedebut) }}
			</div>
			<div class="form-group">
				{{ form_row(form.datecloture) }}
			</div>
			<div class="form-group">
				{{ form_row(form.nbinscriptionsmax) }}
			</div>
			<div class="form-group">
				{{ form_row(form.duree) }}
			</div>
			<div class="form-group">
				{% autoescape false %}
				{{ form_row(form.descriptioninfos) }}
				{% endautoescape %}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="vileOrganisatrice">Ville organisatrice</label>
				<input class="form-control" type="text" placeholder={{ siteParticipantEncours }} readonly name="vileOrganisatrice">
			</div>
			<div class="form-group">
				{{ form_row(form.ville,{ 'attr':{'data-api': path('api_lieu')}}) }}
			</div>
			<div class="form-group">
				{{ form_row(form.lieu) }}
				<button id="btn-pop-lieu" class="btn-common btn-add-lieu" data-toggle="modal" data-target="#modal-lieu">
					<i class="fas fa-plus-square"></i>
				</button>
				{% include 'lieu/lieu_modal.html.twig' %}
			</div>

			<div class="form-group" >
				<label for="create_sortie[rue]">Rue</label>
				<span class="form-control bg-light"  id="create_sortie_rue"></span>
			</div>
			<div class="form-group">
				<label for="create_sortie[codePostal]">Code Postal</label>
				<span class="form-control bg-light"  id="create_sortie_cp"></span>
			</div>
			<div class="form-group">
				<label for="create_sortie[longitude]">longitude</label>
				<span class="form-control bg-light"  id="create_sortie_lon"></span>
			</div>
			<div class="form-group">
				<label for="create_sortie[latitude]">latitude</label>
				<span class="form-control bg-light"  id="create_sortie_lat"></span>
			</div>




		</div>


	<div class="mx-auto">

		<div class="row">
			<div class="col-md-4">
					{{ form_row(form.save) }}
			</div>
			<div class="col-md-4">

					{{ form_row(form.publish) }}

			</div>
			<div class="col-md-4">

				<button type="button" class="btn  btn-block bg-danger"  onclick="location.href='{{path('sorties')}}'">
					Annuler
				</button>
			</div>

		</div>


	</div>


	</div>
	{{ form_end(form) }}

{% endblock %}
